<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .logout {
            display: block;
            margin-left: 90%;
        }

        .border {
            display: block;
            width: 500px;
            border: 5px solid black;
            margin: 20px auto;
            padding: 15px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="border">
                <div class="col column">
                    <a th:href="@{/screen001/adminmenu}" class="float-right">戻る</a>
                    <h2 class="text-center">メンバー登録</h2>
                    

                    <div class="px-5">
                        <form th:action="@{/api/v1/auth/register}" method="post" th:object="${user}">
                            <div id="successAlert" class="alert alert-success alert-dismissible mt-5" style="display: none;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong id="successMemberId"></strong> 
                                ユーザーが正常に追加されました。
                            </div>
                            <div class="form-group mt-5">
                                <label for="name">ID</label>
                                <input type="text" class="form-control" id="id" th:attr="value = ${memberIdNew}" placeholder="XXXX" disabled>
                            </div>
                            <div class="form-group">
                                <label for="date" id="nameLabel">氏名</label>
                                <input type="text" class="form-control" id="name" placeholder="XXXX" th:field="*{memberName}">
                            </div>
                            <div class="form-group">
                                <label for="email" id="emailLabel">Mail</label>
                                <input type="email" class="form-control" id="email" placeholder="XXXX@XXXX" th:field="*{email}">
                            </div>

                
                            

                            <div>
                                <span th:text="${adminId}" hidden id="adminId"></span>
                                <h5 class="mt-5">初期PW： <span th:text="${temporaryPassword}" id="password" value="hrhrh"></span></h5>
                            </div>

                            <button type="button" class="btn btn-primary w-100 my-3" onclick="addmember()">登録</button>
                            <script>
                                function addmember(){
                                    let memberId = document.getElementById("id").value;
                                    let memberName = document.getElementById("name").value;
                                    let email = document.getElementById("email").value;
                                    let password = document.getElementById("password").textContent
                                    let insertId = document.getElementById("adminId").textContent

                                    

                                    if(memberName === ""){
                                        document.getElementById("nameLabel").style.color = "red"
                                    } else {
                                        document.getElementById("nameLabel").style.color = "black"
                                    }
                                    if(email === ""){
                                        document.getElementById("emailLabel").style.color = "red"
                                    } else {
                                        document.getElementById("emailLabel").style.color = "black"
                                    }
                                    //url
                                    let host = window.location.protocol +"//"+ window.location.host;
                                    
                                    if(memberId !== "" && memberName !== "" && email !== ""){
                                        fetch(`${host}/api/v1/auth/register`, {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify({
                                                memberId: memberId,
                                                memberName: memberName,
                                                email: email,
                                                password: password,
                                                insertMember: insertId,
                                                updateMember: insertId
                                            })
                                        })
                                        .then(response => response.json())
                                        .then(result => {
                                            

                                            
                                            if(result['access_token'] !== null){
                                                document.getElementById("successAlert").style.display = "block"
                                                document.getElementById("successMemberId").textContent = memberId

                                                
                                                memberName = document.getElementById("name").value = ""
                                                email = document.getElementById("email").value = ""
                                            }
                                        })
                                        .catch(error => {
                                            console.log(error)
                                        })
                                    }
                                }
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="./scripts/login.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>