<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .logout {
            display: block;
            margin-left: 90%;
        }

        .border {
            display: block;
            width: 500px;
            border: 5px solid black;
            margin: 20px auto;
            padding: 15px;
        }
        .table{
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="border">
                <div class="col column">
                    <a th:href="@{/screen001/menu}" class="logout">戻る</a>
                    <h2 class="text-center mb-5">管理者メニュー</h2>


                    <!-- User Added Alert -->
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success" style="display: none;">
                        <strong id="memberId"></strong> ユーザーが正常に追加されました。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="invalid" style="display: none;">
                        ユーザーは既に存在します! もう一度試してください
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="databaseError" style="display: none;">
                        入力エラー! 再度入力するか、管理者にお問い合わせください。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <!-- Training Topic Added Alert -->
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="successTraining" style="display: none;">
                        <strong id="trainingId"></strong> 研修が正常に追加されました。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="invalidTraining" style="display: none;">
                        研修は既に存在します! もう一度試してください
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                    <!--  -->
                    <h4 class="d-inline">研修一覧</h4>
                    <a th:href="@{/screen001/trainingadd}" class="float-right">研修登録</a>
                    <table class="table mb-5" >
                        <tbody>
                            <tr th:if="${listOfTopics.empty}">
                                <td>No data available</td>
                            </tr>
                            <tr th:each="topic : ${listOfTopics}">
                                <td scope="row"><a th:href="@{'/screen001/trainingboard/' + ${topic.trainingId}}"><span th:text="${topic.trainingDate}"></span> <span th:text="${topic.trainingName}"></span></a></td>
                                <td class="w-25 ">
                                    <!-- <a class="d-block mx-auto btn btn-primary" role="button" th:href="@{'/screen001/delete/' + ${topic.trainingId}}">削除</a> -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#deleteId' + ${topic.trainingId}">
                                        削除
                                      </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'deleteId' + ${topic.trainingId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="研修削除"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <strong th:text="${topic.trainingName}"></strong>
                                                を削除しますか?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
                                            <form th:action="@{'/screen001/training/delete/' + ${topic.trainingId}}" th:method="put">
                                                <input type="hidden" name="_method" value="put" />
                                                <button type="submit" class="btn btn-danger" >はい</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="d-inline">メンバー一覧</h4>
                    <a th:href="@{/screen001/memberadd}" class="float-right">メンバー登録</a>
                    <table class="table">
                        <tbody>
                            <tr th:each="user : ${userList}">
                                <td scope="row" >
                                    <span th:text="${user.memberId}"></span> &nbsp;&nbsp;&nbsp;&nbsp; <span th:text="${user.memberName}"></span>
                                </span></td>
                                
                                <td class="w-25 ">
                                    <!-- <form th:action="@{/screen001/delete/TF634}" method="PUT">
                                        inp
                                    </form> -->
                                    <!-- <a th:href="@{}"></a> -->
                                    <!-- <button class="d-block mx-auto btn btn-primary" th:href="@{/menu}">削除</button> -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#deleteId' + ${user.memberId}">
                                        削除
                                      </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'deleteId' + ${user.memberId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="メンバー削除"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <strong th:text="${user.memberName}"></strong>
                                                を削除しますか?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
                                            <form th:action="@{'/screen001/user/delete/' + ${user.memberId}}" th:method="put">
                                                <input type="hidden" name="_method" value="put" />
                                                <button type="submit" class="btn btn-danger" >はい</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/scripts/admin.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>