<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .logout {
            display: block;
            margin-left: 90%;
        }

        .border {
            display: block;
            width: 500px;
            border: 5px solid black;
            margin: 20px auto;
            padding: 15px;
        }
        .p{
            max-width: 500px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="border">
                
                <div class="col column" >
                    <a th:href="@{/screen001/menu}" class="logout">戻る</a>
                    <h2 class="text-center">研修掲示板</h2>
                    
                    <div th:if="${topic.empty}">
                        <h2>No data available</h2>
                    </div>

                    
                    <div class=" mt-5" style="border: 1px solid black; width: 450px">
                        <table class="table" th:each="topic : ${topic}">
                            
                            <tbody >
                              <tr>
                                <th scope="row" th:text="${topic.trainingName}"></th>
                                <th></th>
                              </tr>
                              <tr>
                                <th scope="row" th:text="${topic.trainingDate}"></th>
                                <th scope="row" th:text="${startTime} + ' - ' + ${endTime}"></th>
                              </tr>
                              <tr>
                                <th scope="row" th:text="${updateDate}"></th>
                                <th></th>
                              </tr>
                              <tr>
                                <th scope="row" th:text="${updateUser}"></th>
                                <th></th>
                              </tr>
                              <tr >
                                <td scope="row"  colspan="2" style="padding-bottom: 0px;">
                                    <span id="trainingDetails" th:text="${topic.trainingDetails}" hidden></span>
                                    <div class="p" id="details" style="height: 100px; overflow-y: scroll; padding: 2px;">
                                        
                                        
                                    </div>
                                    
                                    <script>
                                        var xmlString = document.getElementById("trainingDetails").innerText
                                        document.getElementById("details").innerHTML = xmlString
                                        
                                     </script>
                                </td>
                                
                              </tr>
                              <tr>
                                
                                
                              </tr>
                            </tbody>
                            
                          </table>
                          <a th:href="@{'/screen001/downloadfile?id=' + ${trainingId}}" class="d-block text-center my-3" th:text="${fileName}"> ファイルxxx.zip</a>

                          <div th:switch="${isAdmin}">
                            <a th:case="'ADMIN'" th:href="@{'/screen001/trainingboard/' + ${trainingId} + '/edit'}" class="d-block float-right btn btn-primary mt-3" type="button">編集</a>
                          </div>
                          
                        
                        <!-- <h4 class="mt-4" th:text="${topic.trainingName}">〇〇〇〇〇</h4>
                        <h4 class="my-3"><span th:text="${topic.trainingDate}"></span>　<span th:text="${startTime}"></span> - <span th:text="${endTime}"></span></h4>
                        <h4 class="my-3">23/03/11</h4>
                        <h4 class="my-3">●●●●</h4>
                        <p class="w-75 my-3" th:text="${topic.trainingDetails}">
                            xxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxx
                        </p>
                        <div style="text-align: center;">
                            <a href="#" class="my-3">ファイルxxx.zip</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" th:src="@{/scripts/trainingBoard.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>